<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_AddCustomTaxes>
            <version>0.1.4</version>
        </Komplizierte_AddCustomTaxes>
    </modules>
    <global>
        <models>
            <komplizierte_addcustomtaxes>
                <class>Komplizierte_AddCustomTaxes_Model</class>
                <resourceModel>komplizierte_addcustomtaxes_resource</resourceModel>
            </komplizierte_addcustomtaxes>
            <komplizierte_addcustomtaxes_resource>
                <class>Komplizierte_AddCustomTaxes_Model_Resource</class>
            </komplizierte_addcustomtaxes_resource>
        </models>
        <blocks>
            <komplizierte_addcustomtaxes>
                <class>Komplizierte_AddCustomTaxes_Block</class>
            </komplizierte_addcustomtaxes>
        </blocks>
        <helpers>
            <komplizierte_addcustomtaxes>
                <class>Komplizierte_AddCustomTaxes_Helper</class>
            </komplizierte_addcustomtaxes>
        </helpers>
        <resources>
            <komplizierte_addcustomtaxes_setup>
                <setup>
                    <module>Komplizierte_AddCustomTaxes</module>
                </setup>
            </komplizierte_addcustomtaxes_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <residential>
                        <class>komplizierte_addcustomtaxes/sales_quote_address_total_residential</class>
                    </residential>
                    <liftgateneeded>
                        <class>komplizierte_addcustomtaxes/sales_quote_address_total_liftgateneeded</class>
                    </liftgateneeded>
                    <customtaxes>
                        <class>komplizierte_addcustomtaxes/sales_quote_address_total_customTaxes</class>
                    </customtaxes>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <liftgateneeded>
                        <class>komplizierte_addcustomtaxes/sales_order_invoice_total_liftgateneeded</class>
                    </liftgateneeded>
                    <residential>
                        <class>komplizierte_addcustomtaxes/sales_order_invoice_total_residential</class>
                    </residential>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <liftgateneeded>
                        <class>komplizierte_addcustomtaxes/sales_order_creditmemo_liftgateneeded</class>
                    </liftgateneeded>
                    <residential>
                        <class>komplizierte_addcustomtaxes/sales_order_creditmemo_residential</class>
                    </residential>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <residential>
                    <to_order>*</to_order>
                </residential>
                <liftgateneeded>
                    <to_order>*</to_order>
                </liftgateneeded>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <komplizierte_addcustomtaxes>
                        <type>singleton</type>
                        <class>komplizierte_addcustomtaxes/observer</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </komplizierte_addcustomtaxes>
                </observers>
            </core_block_abstract_to_html_after>
        </events>

    </global>
    <frontend>
        <routers>
            <addcustomtaxes>
                <use>standard</use>
                <args>
                    <module>Komplizierte_AddCustomTaxes</module>
                    <frontName>addcustomtaxes</frontName>
                </args>
            </addcustomtaxes>
        </routers>
        <layout>
            <updates>
                <addcustomtaxes>
                    <file>komplizierte_addcustomtaxes.xml</file>
                </addcustomtaxes>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <sales_order_save_before>
                <observers>
                    <komplizierte_addcustomtaxes>
                        <type>singleton</type>
                        <class>komplizierte_addcustomtaxes/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </komplizierte_addcustomtaxes>
                </observers>
            </sales_order_save_before>
        </events>
        <layout>
            <updates>
                <addcustomtaxes>
                    <file>komplizierte_addcustomtaxes.xml</file>
                </addcustomtaxes>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <callstatus before="Mage_Adminhtml">Komplizierte_AddCustomTaxes</callstatus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>l>
</config>